*{
    padding: 0;
    margin: 0;
}

.footer-container{
height: 20%;
background-color: azure;
display: grid;
place-items: center;
}

.footer-container .upper-grid-container{
    display: inherit;
    height: 50%;
    grid-template-columns: repeat(4,1fr);
   gap: 5rem;
}

.footer-container .upper-grid-container .con{
    display: grid;
    
}

.footer-container .upper-grid-container .title-container p{
    color: black;
    font-weight: 700;
    font-size: 20px;
    
}

.footer-container .upper-grid-container .description-container p{
    color: gray;
}

.footer-container .upper-grid-container .link-container p{
    color: rgb(66, 66, 196);
}

