*{
    padding: 0;
    margin: 0;
    color: #fceeee
}

.main-content-container{
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
}
.main-content-container .title-container{
    height: 200px;
    text-align: center;
}
.title-container .bold-content p{
    font-size: 90px;
    font-weight: 700;
}

.title-container .sub-content p{
    font-size: 20px;
    font-weight: 10;
}

.btn-container{
    transition: 0.5s ease-in-out;
}
.btn-container button {
    background-color: #67396A;
    border-radius: 15px;
    padding: 1rem 2rem;
   border-style: none;
    color: #fceeee;

}



.main-content-container .btn-container:hover{
    box-shadow: 5px 10px gray;
    transform: translate(0%, 10%);
    border-radius: 15px;
   
}




